{% extends "dashboard.html" %}
{% load staticfiles %}

{% block body %}
<div class="main-content">
  <section class="section ">
    <div class="section-body">
      <div class="row ">
        <div class="col-12 col-sm-12 col-lg-9">
          <div class="card">
            <div class="card-header">
              <h4>Visitors</h4>
            </div>
            <div class="card-body">
              <div id="visitorMap4" data-height="300"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
