{% extends "dashboard.html" %}
{% load static %}
{% block head %}
<style>
  .auto-index td:first-child:before {
    counter-increment: Serial;
    content: counter(Serial);
  }
</style>
{% endblock %}
{% block body %}
<div class="main-content">
  <section class="section ">
    <div class="section-body">
      <div class="row ">
        <div class="col-md-6 col-lg-12 col-xl-7">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive-sm">
                <table class="table table-hover mb-0 auto-index">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Keystore Name</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  
                    
                    {% for i in data %}
                    <tr>
                      <td></td>
                      <td>{{i.keystore}} </td>
                      <td><a href={{i.keystore_link}}>Download</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>

                </table>
                
                         
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block jquery_body %}
<script>

function myfiledownload(){
  window.location.href = "/dashboard/signing.keystore/"
}
</script>
{% endblock %}