{% extends "account/base.html" %}
{% load static %}


{% block head %}
<title>CrimsonInsight
</title>

{% endblock %}
{% block body %}
<div class="main">

    <!--hero section start-->
    <section class="hero-section hero-section-3 ptb-100">
        <!--animated circle shape start-->
        <div class="circles">
            <div class="point animated-point-1"></div>
            <div class="point animated-point-2"></div>
            <div class="point animated-point-3"></div>
            <div class="point animated-point-4"></div>
            <div class="point animated-point-5"></div>
            <div class="point animated-point-6"></div>
        </div>
        <!--animated circle shape end-->
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="hero-content-left ptb-100">
                        <h1><span>Fastest and Easiest </span>Mobile App Builder</h1>
                        <p class="lead">Create your Android app using your existing website in just 1 click.
                            Web2App helps you to build android apps in real time.</p>

                        <a href="#contact1" class="btn solid-btn">Contact with us</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="hero-animation-img">
                        <img class="img-fluid d-block m-auto animation-one"
                            src="{% static 'accounts/img/Telemedicine_01.svg' %}" width="150" alt="animation image">
                        <img class="img-fluid d-none d-lg-block animation-two"
                            src="{% static 'accounts/img/hero-animation-01.svg' %}" alt="animation image" width="120">
                        <img class="img-fluid d-none d-lg-block animation-three"
                            src="{% static 'accounts/img/Telemedicine_03.svg' %}" alt="animation image" width="120">
                        <img class="img-fluid d-none d-lg-block animation-four"
                            src="{% static 'accounts/img/hero-animation-01.svg' %}" alt="animation image" width="200">
                    </div>
                </div>
            </div>
        </div>

        <!--shape image start-->
        <img src="{% static 'accounts/img/hero-bg-shape-2.svg' %}" class="shape-image" alt="shape image">
        <!--shape image end-->
    </section>
    <!--hero section end-->

    <!--promo section start-->
    <section class="promo-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>How it works <br></h2>
                        <p class="lead">
                            Make your app in 3 simple steps
                        </p>
                    </div>
                </div>
            </div>
            <div class="row equal">
                <div class="col-md-4 col-lg-4">
                    <div class="single-promo single-promo-hover single-promo-1 rounded text-center white-bg p-5 h-100">
                        <div class="circle-icon mb-5">
                            <span class="ti-vector text-white"></span>
                        </div>
                        <h5>Enter Domain</h5>
                        <p>Enter domain name of your website.<br/>www.google.com</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="single-promo single-promo-hover single-promo-1 rounded text-center white-bg p-5 h-100">
                        <div class="circle-icon mb-5">
                            <span class="ti-lock text-white"></span>
                        </div>
                        <h5>Enter Key</h5>
                        <p>Enter key for signature your app or for upload on play store.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="single-promo single-promo-hover single-promo-1 rounded text-center white-bg p-5 h-100">
                        <div class="circle-icon mb-5">
                            <span class="ti-eye text-white"></span>
                        </div>
                        <h5>Generate App</h5>
                        <p>Your app is generate and ready for use.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--promo section end-->

    <!--overflow block start-->
    <div class="overflow-hidden">
        <!--about us section start-->
        <section id="about" class="about-us ptb-100 background-shape-img">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-7">
                        <div class="about-content-left section-heading">
                            <h2>Use your android or ios device <br>
                                <span>to manage everything.</span></h2>

                            <div class="single-feature mb-4 mt-5">
                                <div class="icon-box-wrap d-flex align-items-center mb-2">
                                    <div class="mr-3 icon-box">
                                        <img src="../../../static/accounts/img/image-icon-1.png" alt="icon image"
                                            class="img-fluid">
                                    </div>
                                    <p class="mb-0">Apps are more convenient for users & easier to navigate, and they give app owners lead over competitors in engagement.</p>
                                </div>
                            </div>
                            <div class="single-feature mb-4">
                                <div class="icon-box-wrap mb-2">
                                    <div class="mr-3 icon-box">
                                        <img src="../../../static/accounts/img/image-icon-2.png" alt="icon image"
                                            class="img-fluid">
                                    </div>
                                    <p class="mb-0">If you’re doing business in any capacity, you need to have a mobile app. Mobile apps are estimated to reach $143 billion revenue with 267 billion app downloads over the next 2 years.</p>
                                </div>
                                <p></p>
                            </div>
                            <div class="single-feature mb-4">
                                <div class="icon-box-wrap mb-2">
                                    <div class="mr-3 icon-box">
                                        <img src="../../../static/accounts/img/image-icon-3.png" alt="icon image"
                                            class="img-fluid">
                                    </div>
                                    <p class="mb-0">The Mobile App Industry is currently the fastest growing industry in the world, Can YOU afford to miss out?</p>
                                </div>
                                <p></p>
                            </div>
                            <div class="single-feature mb-4">
                                <div class="icon-box-wrap mb-2">
                                    <div class="mr-3 icon-box">
                                        <img src="../../../static/accounts/img/image-icon-4.png" alt="icon image"
                                            class="img-fluid">
                                    </div>
                                    <p class="mb-0">App monetization is better than the revenue of websites nowadays. Just think how huge Tinder, Snapchat and Uber are right now!</p>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div
                            class="about-content-right d-flex justify-content-center justify-content-lg-end justify-content-md-end">
                            <img src="../../../static/accounts/img/image-15.png" alt="about us" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about us section end-->
    </div>
    <!--overflow block end-->

    <!--features section start-->
    <section id="features" class="feature-section ptb-100">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4">
                    <div class="download-img d-flex align-bottom">
                        <img src="../../../static/accounts/img/image-11.png" alt="download" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="feature-contents section-heading">
                        <h2>Quick & Easy Process with <br>
                            <span>best features</span></h2>
                        <p>Objectively deliver professional value with diverse web-readiness.
                            Collaboratively transition wireless customer service without goal-oriented catalysts for
                            change. Collaboratively.</p>

                        <div class="feature-content-wrap">
                            <ul class="nav nav-tabs feature-tab" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active h6" href="#tab6-1" data-toggle="tab">
                                        <span class="ti-palette"></span>
                                        Build real time<br/>application
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link h6" href="#tab6-2" data-toggle="tab">
                                        <span class="ti-vector"></span>
                                        Custom Push<br/> Notifications
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link h6" href="#tab6-3" data-toggle="tab">
                                        <span class="ti-bar-chart"></span>
                                        Select Your Own<br/> Custom Icon 
                                    </a>
                                </li>
                               
                            </ul>
                            <div class="tab-content feature-tab-content">
                                <div class="tab-pane active" id="tab6-1">
                                    <ul class="list-unstyled">
                                        <li class="py-2">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <div class="badge badge-circle badge-primary mr-3">
                                                        <span class="ti-check"></span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Web2App helps you create Android apps in real time instantly.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <div class="badge badge-circle badge-primary mr-3">
                                                        <span class="ti-check"></span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="mb-0">You do not need expensive developers and months of time to develop a mobile app.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-2">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <div class="badge badge-circle badge-primary mr-3">
                                                        <span class="ti-check"></span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Just get access to Web2App builder and start using it to build your mobile applications.</p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="tab-pane" id="tab6-2">
                                    <div class="single-feature">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="ti-layers rounded mr-3 icon icon-color-1"></span>
                                            <h5 class="mb-0">Notifications
                                        </div>
                                        <p>Send eye catching messages to app users anytime you want right into their smartphones.</p>
                                    </div>
                                    <!-- <div class="single-feature mb-4">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="ti-alarm-clock rounded mr-3 icon icon-color-2"></span>
                                            <h5 class="mb-0">Increase conversion</h5>
                                        </div>
                                        <p>Phosfluorescently empower compelling intellectual capital and revolutionary
                                            web services. Compellingly develop cross-media.</p>
                                    </div> -->
                                </div>
                                <div class="tab-pane" id="tab6-3">
                                    <div class="row">
                                        <div class="col single-feature mb-4">
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="ti-bar-chart rounded mr-3 icon icon-color-2"></span>
                                                <h5 class="mb-0">Choose Your Own Custom Icon</h5>
                                            </div>
                                            <p>Delight your users by uploading your own customized icon to add character and visual appeal to your main menu page.</p>
                                        </div>
                                        <!-- <div class="col single-feature mb-4">
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="ti-stats-up rounded mr-3 icon icon-color-3"></span>
                                                <h5 class="mb-0">Product analytics</h5>
                                            </div>
                                            <p>A top promo bar that counts down until a few discounts.</p>
                                        </div> -->
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--features section end-->

    <!--our video promo section start-->
    <section id="demo" class="video-promo ptb-100 background-img"
        style="background: url('../../../static/accounts/img/hero-bg-1.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="video-promo-content mt-4 text-center">
                        <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
                            class="popup-youtube video-play-icon d-inline-block"><span
                                class="ti-control-play"></span></a>
                        <h5 class="mt-4 text-white">Watch video overview</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our video promo section end-->

    <!--screenshots section start-->
    <section id="screenshots" class="screenshots-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center">
                        <h2>App screenshots <br> <span>Looks awesome</span></h2>
                        <p class="lead">Web2App provides a code-free solution for professionals, businesses and organizations to build real time Android apps with no technical experience required</p>
                    </div>
                </div>
            </div>
            <!--start app screen carousel-->
            <div class="screen-slider-content mt-5">
                <div class="screenshot-frame"></div>
                <div class="screen-carousel owl-carousel owl-theme dot-indicator">
                    <img src="../../../static/accounts/img/01.png" class="img-fluid" alt="screenshots">
                    <img src="../../../static/accounts/img/02.png" class="img-fluid" alt="screenshots">
                    <img src="../../../static/accounts/img/03.png" class="img-fluid" alt="screenshots">
                    <img src="../../../static/accounts/img/04.png" class="img-fluid" alt="screenshots">
                    <img src="../../../static/accounts/img/05.png" class="img-fluid" alt="screenshots">
                    <img src="../../../static/accounts/img/06.png" class="img-fluid" alt="screenshots">
                </div>
            </div>
            <!--end app screen carousel-->

        </div>
    </section>
    <!--screenshots section end-->


  
    <!--client section start-->
    <section class="client-section ptb-100">
        <div class="container">
            <!--clients logo start-->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Trusted by companies</h2>
                        <p class="lead">
                            We are a patent search firm that has researchers who have won several global crowd sourced prior art search contests. Our search report is highly comprehensive and includes element wise claim charts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme clients-carousel dot-indicator">
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-5-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-1-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-6-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-3-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-4-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-5-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-7-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-2-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-1-color.png" alt="client logo"
                                class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="../../../static/accounts/img/client-3-color.png" alt="client logo"
                                class="client-img">
                        </div>
                    </div>
                </div>
            </div>
            <!--clients logo end-->
        </div>
    </section>
    <!--client section start-->

</div>
<!--body content wrap end-->

<!--shape image start-->
<div class="shape-img subscribe-wrap">
    <img src="../../../static/accounts/img/footer-top-shape.png" alt="footer shape" class="img-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- <form action="#" method="post"
                    class="subscribe-form subscribe-form-footer d-none d-md-block d-lg-block">
                    <div class="d-flex align-items-center">
                        <input type="text" class="form-control input" id="email-footer" name="email"
                            placeholder="info@yourdomain.com">
                        <input type="submit" class="button btn solid-btn" id="submit-footer" value="Subscribe">
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>
<!--shape image end-->

<!--footer section start-->
<footer class="footer-section">

    <!--footer top start-->
    <div class="footer-top pt-150 pb-5 background-img-2"
        style="background: url('../../../static/accounts/img/footer-bg.png')no-repeat center top / cover">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="footer-nav-wrap text-white">
                        <img src="../../../static/accounts/img/logo-color-1x.jpg" alt="footer logo" width="120"
                            class="img-fluid mb-3">
                        <p>info@crimsoninsights.com</p>

                        <div class="social-list-wrap">
                            <ul class="social-list list-inline list-unstyled">
                                <li class="list-inline-item"><a href="/#about" target="_blank" title="Facebook"><span
                                            class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><span
                                            class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><span
                                            class="ti-instagram"></span></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="printerst"><span
                                            class="ti-pinterest"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 ml-auto mb-4 mb-lg-0">
                    <div class="footer-nav-wrap text-white">
                        <h5 id="contact1" class="mb-3 text-white"  >Support</h5>
                        <ul class="list-unstyled support-list">
                            <li class="mb-2 d-flex align-items-center"><span class="ti-location-pin mr-2"></span>
                                Crimson Insights
                                <br>Haryana
                            </li>
                            <li class="mb-2 d-flex align-items-center"><span class="ti-mobile mr-2"></span> <a
                                    href="tel:+14158003584"> +1 415 800 3584</a></li>
                            <li class="mb-2 d-flex align-items-center"><span class="ti-email mr-2"></span><a
                                    href="mailto:info@crimsoninsights.com">info@crimsoninsights.com</a></li>
                            <li class="mb-2 d-flex align-items-center"><span class="ti-world mr-2"></span><a href="https://www.crimsoninsights.com/">
                                    www.crimsoninsights.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-nav-wrap text-white">
                        <h5 class="mb-3 text-white">Location</h5>
                        <img src="../../../static/accounts/img/map.png" alt="location map" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer top end-->

    <!--footer copyright start-->
    <div class="footer-bottom gray-light-bg pt-4 pb-4">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <p class="copyright-text pb-0 mb-0">Copyrights © 2020. All
                        rights reserved by
                        <a href="/#">CrimsonInsight</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--footer copyright end-->
</footer>
<!--footer section end-->


{% endblock %}
