{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<br/><br/><br/>
<br/><br/><br/><br/>
<div class="container" style="width:30%">
	<h1> Your apk is downloading</h1>
	
</div>

{% endblock %}

  <!--our team section start-->
  <section id="team" class="team-member-section ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="section-heading text-center mb-5">
                    <h2>Our team members</h2>
                    <p class="lead">
                        Following reasons show advantages of adding AppCo to your lead pages, demos and checkouts
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member position-relative">
                    <div class="team-image">
                        <img src="../../../static/accounts/img/team-4.jpg" alt="Team Members"
                            class="img-fluid rounded-circle">
                    </div>
                    <div
                        class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                        <h5 class="mb-0">Edna Mason</h5>
                        <h6>Senior Designer</h6>
                        <ul class="list-inline team-social social-icon mt-4 text-white">
                            <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member position-relative">
                    <div class="team-image">
                        <img src="../../../static/accounts/img/team-1.jpg" alt="Team Members"
                            class="img-fluid rounded-circle">
                    </div>
                    <div
                        class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                        <h5 class="mb-0">Edna Mason</h5>
                        <h6>Senior Designer</h6>
                        <ul class="list-inline team-social social-icon mt-4 text-white">
                            <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member position-relative">
                    <div class="team-image">
                        <img src="../../../static/accounts/img/team-2.jpg" alt="Team Members"
                            class="img-fluid rounded-circle">
                    </div>
                    <div
                        class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                        <h5 class="mb-0">Edna Mason</h5>
                        <h6>Senior Designer</h6>
                        <ul class="list-inline team-social social-icon mt-4 text-white">
                            <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-member position-relative">
                    <div class="team-image">
                        <img src="../../../static/accounts/img/team-3.jpg" alt="Team Members"
                            class="img-fluid rounded-circle">
                    </div>
                    <div
                        class="team-info text-white rounded-circle d-flex flex-column align-items-center justify-content-center">
                        <h5 class="mb-0">Edna Mason</h5>
                        <h6>Senior Designer</h6>
                        <ul class="list-inline team-social social-icon mt-4 text-white">
                            <li class="list-inline-item"><a href="#"><span class="ti-facebook"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-twitter"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-github"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="ti-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our team section end-->


<!--contact us section start-->
<section id="contact" class="contact-us gray-light-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-heading">
                    <h3>Contact with us</h3>
                    <p>It's very easy to get in touch with us. Just use the contact form or pay us a
                        visit for a coffee at the office. Dynamically innovate competitive technology after an
                        expanded array of leadership.</p>
                </div>
                <div class="footer-address">
                    <h6><strong>Head Office</strong></h6>
                    <p>121 King St, Melbourne VIC 3000, Australia</p>
                    <ul>
                        <li><span>Phone: +61 2 8376 6284</span></li>
                        <li><span>Email : <a href="mailto:hello@yourdomain.com">hello@yourdomain.com</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <form action="#" method="POST" id="contactForm1" class="contact-us-form" novalidate="novalidate">
                    <h5>Reach us quickly</h5>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Enter name"
                                    required="required">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Enter email"
                                    required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" name="phone" value="" class="form-control" id="phone"
                                    placeholder="Your Phone">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" name="company" value="" size="40" class="form-control"
                                    id="company" placeholder="Your Company">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="7" cols="25"
                                    placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <button type="submit" class="btn solid-btn" id="btnContactUs">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
                <p class="form-message"></p>
            </div>
        </div>
    </div>
</section>
<!--contact us section end-->
    <!--our pricing packages section start-->
    <section id="pricing" class="package-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Pricing Packages</h2>
                        <p class="lead">
                            Monotonectally grow strategic process improvements vis-a-vis integrated resources.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md">
                    <div class="card text-center single-pricing-pack">
                        <div class="card-header py-5 border-0 pricing-header">
                            <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">29</span></div>
                            <span class="h6 text-muted">Basic License</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-sm mb-4 pricing-feature-list">
                                <li>Push Notifications</li>
                                <li>Data Transfer</li>
                                <li>SQL Database</li>
                                <li>Search & SEO Analytics</li>
                                <li>24/7 Phone Support</li>
                                <li>2 months technical support</li>
                                <li>2+ profitable keyword</li>
                            </ul>
                            <a href="#" class="btn solid-btn mb-3" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md">
                    <div class="card primary-bg text-center single-pricing-pack">
                        <div class="card-header py-5 border-0 pricing-header">
                            <div class="h1 text-white text-center mb-0">$<span
                                    class="price font-weight-bolder">149</span></div>
                            <span class="h6 text-white">Extended License</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-white text-sm mb-4 pricing-feature-list">
                                <li>Push Notifications</li>
                                <li>Data Transfer</li>
                                <li>SQL Database</li>
                                <li>Search & SEO Analytics</li>
                                <li>24/7 Phone Support</li>
                                <li>1 Year technical support</li>
                                <li>50+ profitable keyword</li>
                            </ul>
                            <a href="#" class="btn app-store-btn mb-3" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md">
                    <div class="card text-center single-pricing-pack">
                        <div class="card-header py-5 border-0 pricing-header">
                            <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">39</span></div>
                            <span class="h6 text-muted">Standard License</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled text-sm mb-4 pricing-feature-list">
                                <li>Push Notifications</li>
                                <li>Data Transfer</li>
                                <li>SQL Database</li>
                                <li>Search & SEO Analytics</li>
                                <li>24/7 Phone Support</li>
                                <li>6 months technical support</li>
                                <li>10+ profitable keyword</li>
                            </ul>
                            <a href="#" class="btn solid-btn mb-3" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mt-5 text-center">
                <p class="mb-2">If you need custom services or Need more? <a href="#" class="color-secondary">
                        Contact us
                    </a></p>

            </div>
        </div>
    </section>
    <!--our pricing packages section end-->


	