{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="main">
    <section class="hero-section ptb-100 background-img full-screen"
        style="background: url('/static/accounts/img/hero-bg-1.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="hero-content-left text-white text-center">
                        <h1 class="text-white">Your App is builded please check your Email !</h1>

                        <p class="lead">We will be in touch shortly. We're looking forward to your demo. If you have any
                            questions prior to your demo feel free to give us a call.</p>

                        <div class="mb-5">
                            <h5 class="mb-0 text-white"> <span class="ti-mobile mr-2 align-items-center"></span> +1 415
                                800 3584</h5><br/>
                                <h5 class="mb-0 text-white"> <span class="ti-email mr-2 align-items-center"></span>info@crimsoninsights.com</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

