{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
        
        {% block head %}
        <title>CrimsonInsight </title>
        {% endblock %}
        
        <style>
        html {scroll-behavior: smooth;}
        </style>
    
    </head>
        <body style="color:black">
            <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top" >
                <div class="navbar-header">
                  <a class="navbar-brand" style="font-family:'Roboto-Bold-eot'"href="/">&emsp;
                    CrimsonInsight</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar" style="font-family:'Roboto-Bold-eot'">
                    {% if user.is_authenticated %}
                    
                    <ul class="navbar-nav  ml-auto">
                        <li><a class="nav-link" href="/">Home </a></li>
                        <li><a class="nav-link" href="/accounts/apkkey">App</a></li>
                        <li><a class="nav-link" href='/logout'>Logout </a></li>
    
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link" href="/">Home </a></li>
                    
                        <li><a class="nav-link" href="/accounts/register">Register </a></li>
                        <li><a class="nav-link" href='../../accounts/login'>Login </a></li>
                    </ul>
                    {% endif %}
                </div>
            </nav><br/><br/><br/><br/>
            {% block body %}
            This is base for you
            {% endblock %}
            
    </body>
</html> 





