{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head %}
<title>Change Password</title>
<style>
    @media only screen and (max-width: 600px) {
        .mob {
            width: 90%;
        }
    }

    @media only screen and (min-width: 720px) {
        .web {
            padding-left: 170px;
            padding-top: 60px;
            width: 50%;
        }
    }
</style>
{% endblock %}

{% block body %}
<br /><br /><br /><br /><br />

<div class="container web mob border border-info border-rounded">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <br />
        <button type="submit" class="btn btn-outline-dark" name="action">{% trans "Change Password" %}</button>
    </form>
    <br />
</div>
{% endblock %}