{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head %}
<title>Password Reset</title>
<style>
    @media only screen and (max-width: 600px) {
        .mob {
            width: 90%;
            padding-top: 50px;
        }
    }

    @media only screen and (min-width: 720px) {
        .web {
            padding-left: 170px;
            padding-top: 50px;
            width:50%;
        }
    }
</style>
{% endblock %}

{% block body %}
<br /><br /><br /><br /><br /><br />
<div class=" container web mob border border-info border-rounded">


    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, <br/>and we'll send you an e-mail allowing you to reset it." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4">Reset Password</legend> -->
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    <br />
</div>
{% endblock %}