{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head %}
<title>Change Password</title>
<style>
    @media only screen and (max-width: 600px) {
        .mob {
            width: 100%;
        }
    }

    @media only screen and (min-width: 720px) {
        .web {
            padding-left: 170px;
            padding-top: 60px;
            width:50%;
        }
    }
</style>
{% endblock %}



{% block body %}

<br /><br /><br />
<br /><br /><br />
<div class="container web border border-info rounded">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    Click here to go<a href="/accounts/login/"> Login Page</a>
    <br /><br /><br />
</div>
{% endblock %}