{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Verify Your E-mail Address</title>
{% endblock %}

{% block body %}
<br /><br /><br /><br /><br /><br/><br/>
<div class="container">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        Click here to go <a href="/">Home Page</a>
    </p>
</div>
{% endblock %}